.login {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    font-size: 20px;
    height: 90vh;
    /* background: green */
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .container {
    /* background: rgb(151, 235, 247); */
    background: lightblue;
    border-radius: 10px;
    /* box-shadow: 5px 5px rgb(230, 230, 230); */
    box-shadow: 5px 5px grey;
    padding: 50px 0;
 }
 .formLogin {
    display: flex;
    flex-direction: column;
 }
 .user, .pass {
    /* margin: 10px 115px; */
    margin: 20px 0 5px 70px;
    font-family: "Hanalei Fill", cursive;
    color: rgb(61, 61, 61);
 }
 .input {
    max-width: 200px;
    height: 15px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid grey;
 }
 .loginButton {
    margin: 50px auto 10px auto;
    cursor: pointer;
    color: rgb(61, 61, 61);
    font-size: 30px;
    font-family: "Hanalei Fill", cursive;
    background: white;
    border: 2px solid grey;
    border-radius: 8px;
    width: 175px;
    height: 50px;
 }
 
 

 
 
 